
// tab list
.tab-list {

  .tab-navs {
    padding: 0;
    display: inline-block;
    vertical-align: top;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-transform: none;
    border: none;
    border-radius: 0;
    background: #00a99d;
  }
}

// ~ tab list
