<div class="contact">
  <div class="map-wrapper">
    <app-map></app-map>
  </div>

  <div class="container pt-4">
    <div class="row">
      <div class="col-12 breadcrumbs">
        <a>Home</a>
        <span> /</span>
        Contact
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-lg-6">
        <div class="title">
          <h3 class="text-uppercase">Thông tin liên lạc</h3>
        </div>
        <div class="infor">
          <p>{{phuongbinh.infor}}</p>
          <h4 class="text-uppercase">Địa chỉ</h4>
          <p>{{phuongbinh.address}}</p>
          <h4 class="text-uppercase">văn phòng làm việc</h4>
          <p>{{phuongbinh.office}}</p>
          <h4 class="text-uppercase">số điện thoại</h4>
          <p>{{phuongbinh.phone}}</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="title">
          <h3 class="text-uppercase">gửi phản hồi</h3>
          <form action="" class="submit-form text-white" #formSubmit="ngForm">
            <div class="form-group  mb-4">
              <input type="text" class="form-control pl-2 pr-2" id="fullname" placeholder="Fullname"
                [(ngModel)]="feedback.fullname" required #fullnameText="ngModel" name="fullname">
              <p class="form-validation m-0 pl-2"
                *ngIf="fullnameText?.invalid && (fullnameText?.dirty || fullnameText?.touched)">Fullname
                is required!</p>
            </div>
            <div class="form-group mb-4">
              <input type="text" class="form-control pl-2 pr-2" id="email" placeholder="Email" [(ngModel)]="feedback.email"
                required #emailText="ngModel" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
              <p class="form-validation m-0 pl-2"
                *ngIf="emailText?.errors && emailText?.errors?.required && (emailText?.dirty || emailText?.touched)">
                Email
                is required</p>
              <p class="form-validation m-0 pl-2" *ngIf="emailText?.errors && emailText?.errors?.pattern">Email is
                invalid</p>
            </div>
            <div class="form-group mb-4">
              <textarea class="form-control pl-2 pr-2" id="exampleFormControlTextarea1" placeholder="Message" rows="3"
                [(ngModel)]="feedback.message" #messageText="ngModel" name="message" appForbiddenName="fuck"></textarea>
              <p class="form-validation m-0 pl-2" *ngIf="messageText?.errors?.forbiddenName">Text is invalid</p>
            </div>
            <button type="submit" class="btn btn-primary title w-50 p-2 font-weight-bold">Submit!</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
