<div class="contact">
  <div class="map-wrapper">
    <app-map></app-map>
  </div>

  <div class="container pt-4">
    <div class="row">
      <div class="col-12 breadcrumbs">
        <a>Home</a>
        <span> /</span>
        Contact
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-lg-6">
        <div class="title">
          <h3 class="text-uppercase">Thông tin liên lạc</h3>
        </div>
        <div class="infor">
          <p>{{phuongbinh.infor}}</p>
          <h4 class="text-uppercase">Địa chỉ</h4>
          <p>{{phuongbinh.address}}</p>
          <h4 class="text-uppercase">văn phòng làm việc</h4>
          <p>{{phuongbinh.office}}</p>
          <h4 class="text-uppercase">số điện thoại</h4>
          <p>{{phuongbinh.phone}}</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="title">
          <h3 class="text-uppercase">gửi phản hồi</h3>
          <form [formGroup]="myform" (ngSubmit)="sendMessage(myform.value)" class="submit-form text-white">
            <div class="form-group  mb-4">
              <input type="text" class="form-control pl-2 pr-2" placeholder="Họ và Tên" formControlName="name">
              <p class="form-validation m-0 pl-2" *ngIf="name?.invalid && (name?.dirty || name?.touched)">Vui lòng nhập
                đầy đủ họ
                tên!</p>
            </div>
            <div class="form-group mb-4">
              <input type="text" class="form-control pl-2 pr-2" placeholder="Địa chỉ email" required
                formControlName="email">
              <p class="form-validation m-0 pl-2"
                *ngIf="email?.errors && email?.errors?.required && (email?.dirty || email?.touched)">Vui
                lòng nhập địa chỉ email!</p>
              <p class="form-validation m-0 pl-2" *ngIf="email.invalid && email.touched">Email không hợp lệ!</p>
            </div>
            <div class="form-group mb-4">
              <input type="text" class="form-control pl-2 pr-2" placeholder="Số điện thoại" required
                formControlName="phone">
              <p class="form-validation m-0 pl-2" *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)">Vui
                lòng nhập số điện thoại!</p>
            </div>

            <div class="form-group mb-4">
              <input type="text" class="form-control pl-2 pr-2" placeholder="Điểm khởi hành" required
                formControlName="arrival">
              <p class="form-validation m-0 pl-2" *ngIf="arrival?.invalid && (arrival?.dirty || arrival?.touched)">
                Vui lòng nhập điểm khởi hành!</p>
            </div>

            <input type="text" class="form-control pl-2 pr-2" placeholder="Điểm đến" required
              formControlName="destination">
            <div class="form-group mb-4">
              <p class="form-validation m-0 pl-2"
                *ngIf="destination?.invalid && (destination?.dirty || destination?.touched)">
                Vui lòng nhập điểm đến!</p>
            </div>
            <div class="form-group mb-4">
              <textarea class="form-control pl-2 pr-2" placeholder="Thông điệp" rows="3"
                formControlName="message"></textarea>

              <p class="form-validation m-0 pl-2" *ngIf="message?.invalid && (message?.dirty || message?.touched)">
                Nội dung không được phép để trống</p>
            </div>
            <button type="submit" class="btn btn-primary title w-50 p-2 font-weight-bold" [disabled]="!myform.valid"
              (click)="sendMessage()">Gửi phản hồi!</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
