<div class="container-background" style="width: 100%;">
</div>
<div class="app-search">
  <app-search></app-search>
</div>

<div class="home-page">
  <div class="about-us">
    <div class="why">
      <div class="container">
        <h2 class="tour-card-title mt-0 text-uppercase">dịch vụ tốt nhất</h2>
        <div class="tour-card-des d-none d-sm-block">{{contentTemp}}
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="caption">
              <div class="icon">
                <i class="fal fa-plane-departure"></i>
              </div>
              <div class="title2">
                <h3 class="txt1">Chuyến đi thú vị</h3>
                <p class="txt2">{{contentTemp}}</p>
                <a href="#" class="txt3">Xem thêm</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="caption">
              <div class="icon">
                <i class="fas fa-paper-plane"></i>
              </div>
              <div class="title2">
                <h3 class="txt1">Khám phá</h3>
                <p class="txt2">{{contentTemp}}</p>
                <a href="#" class="txt3">Xem thêm</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="caption">
              <div class="icon">
                <i class="fal fa-flag-checkered"></i>
              </div>
              <div class="title2">
                <h3 class="txt1">Đặt vé</h3>
                <p class="txt2">{{contentTemp}}</p>
                <a href="#" class="txt3">Xem thêm</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="caption">
              <div class="icon">
                <i class="fal fa-comments"></i>
              </div>
              <div class="title2">
                <h3 class="txt1">Hỗ trợ tốt</h3>
                <p class="txt2">{{contentTemp}}</p>
                <a href="#" class="txt3">Xem thêm</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tour-card container">
  <h2 class="tour-card-title text-uppercase">địa điểm nổi tiếng</h2>
  <div class="tour-card-des d-none d-sm-block">{{contentTemp}}</div>
  <owl-carousel #owlElement [options]="customOptions">
    <tour-card *ngFor="let place of places" [place]="place"></tour-card>
  </owl-carousel>
</div>

<div class="happy">
  <div class="container">
    <div class="row happy_content">
      <div class="col-lg-6 col-sm-12 happy_left">
        <img src="../../../assets/images/travel.png" alt="">
      </div>

      <div class="col-lg-6 col-sm-12 happy_right">
        <h1 class="pb-4">XÁCH BA LÔ LÊN VÀ ĐI</h1>
        <p class="text-justify describe">{{ happyDescribe }}</p>
        <div class="distance" *ngFor="let palce of happyPlace">
          <div class="txt">
            {{ palce.name }}
          </div>
          <div class="distance_percent">
            <div class="percent" [ngStyle]="{
              'width' : palce.percent + '%'
            }">
              <span>{{ palce.percent }}</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="partners">
  <div class="container">
    <div class="row">

      <div class="col-sm-4 col-lg-2 col-6 partners-item">
        <a href="#">
            <img src="assets/images/partners/partner1.jpg" alt="" class="original">
            <img src="assets/images/partners/partner1_hover.jpg" alt="" class="hover">
        </a>
      </div>

      <div class="col-sm-4 col-lg-2 col-6 partners-item">
          <a href="#">
              <img src="assets/images/partners/partner2.jpg" alt="" class="original">
              <img src="assets/images/partners/partner2_hover.jpg" alt="" class="hover">
          </a>
      </div>

      <div class="col-sm-4 col-lg-2 col-6 partners-item">
          <a href="#">
              <img src="assets/images/partners/partner3.jpg" alt="" class="original">
              <img src="assets/images/partners/partner3_hover.jpg" alt="" class="hover">
          </a>
      </div>

      <div class="col-sm-4 col-lg-2 col-6 partners-item">
          <a href="#">
              <img src="assets/images/partners/partner4.jpg" alt="" class="original">
              <img src="assets/images/partners/partner4_hover.jpg" alt="" class="hover">
          </a>
      </div>

      <div class="col-sm-4 col-lg-2 col-6 partners-item">
          <a href="#">
              <img src="assets/images/partners/partner5.jpg" alt="" class="original">
              <img src="assets/images/partners/partner5_hover.jpg" alt="" class="hover">
          </a>
      </div>

      <div class="col-sm-4 col-lg-2 col-6 partners-item">
          <a href="#">
              <img src="assets/images/partners/partner6.jpg" alt="" class="original">
              <img src="assets/images/partners/partner6_hover.jpg" alt="" class="hover">
          </a>
      </div>

    </div>
  </div>
</div>
