<div class="top">
  <div class="container">
    <div class="row">

      <div class="col-lg-3">
        <div class="top__logo">
          <a [routerLink]="['/']">
            <img [src]="logo" alt="">
          </a>
        </div>
        <p class="pt-4">{{phuongbinh.infor}}</p>
        <a class="top__btn -triangle">Xem thêm</a>
      </div>

      <div class="col-lg-3 col-sm-12">
        <h1 class="top__title">
          Chuyên gia du lịch
        </h1>
        <ul>
          <li>
            <a class="-triangle">Vé máy bay hạng nhất</a>
          </li>
          <li>
            <a class="-triangle">Tour hiện có</a>
          </li>
        </ul>
        <div class="top__social">
          <div class="top__social__item">
            <div class="origin wrap">
              <a><i class="fab fa-facebook-f icon icon--facebook"></i></a>
            </div>
            <div class="hover hover--facebook wrap">
              <a><i class="fab fa-facebook-f icon icon--facebook"></i></a>
            </div>
          </div>
          <div class="top__social__item ">
            <div class="origin wrap">
             <a><i class="fab fa-google-plus-g icon icon--google"></i></a>
            </div>
            <div class="hover hover--google wrap">
             <a><i class="fab fa-google-plus-g icon icon--google"></i></a>
            </div>
          </div>
          <div class="top__social__item">
            <div class="origin wrap">
              <a><i class="fab fa-youtube icon icon--youtube"></i></a>
            </div>
            <div class="hover hover--youtube wrap">
              <a><i class="fab fa-youtube icon icon--youtube"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-12">
        <h1 class="top__title">
          Đánh giá
        </h1>
        <div class="top__twiter">
          <div class="top__twiter__item twiter-1">
            <a>@letuankhoi</a>
            <span>Đây là một trang web uy tính, luôn mang lại chất lượng tốt nhất dành cho khách hàng.</span>
            <div class="time">5 phút trước</div>
          </div>
          <div class="top__twiter__item twiter-2">
            <a>@aketa1458</a>
            <span>Dịch vụ thật sự tốt, giá thành phù hợp với khách hàng trong nước. Tôi nghĩ đây là một sự lựa chọn không tồi khi sử dụng dịch vụ của Phương Bình</span>
            <div class="time">2 ngày trước</div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-12">
        <h1 class="top__title">
          Bảng tin
        </h1>
        <div class="top__lable">
          Cảm hứng, ý tưởng, tin tức và phản hồi của bạn.
        </div>
        <div class="input">
          <input type="email" placeholder="Địa chỉ Email" class="top__input -triangle">
          <a class="top__btn-submit">GỬI</a>
        </div>
        <h1 class="top__phone">{{phuongbinh.phone}}</h1>
        <div class="support">
          <a class="top__support">pkd.phuongbinhtouris@gmail.com</a>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="bottom">

  <div class="container bottom__content">

    <div class="bottom__left">
      <ul>
        <li>
          Copyright © 2019
        </li>
        <li>
          <a class="bold">GoCodee</a>
        </li>
        <li>
          <a>Chính sách bảo mật</a>
        </li>
        <li>
          <a>Chúng tôi</a>
        </li>
        <li>
          <a>Liên lạc hổ trợ</a>
        </li>
      </ul>
    </div>

    <div class="bottom__right">
      <span>Phát triển bởi <a>GoCodee</a></span>
    </div>
  </div>
</div>
