<div class="top">
  <div class="container">
    <div class="row">

      <div class="col-lg-3">
        <div class="top__logo">
          <a href="#">
            <img src="https://demo.gridgum.com/templates/Travel-agency/images/logo2.png" alt="">
          </a>
        </div>
        <p>Nam liber tempor cum soluta nobis option congue nihil imperdiet doming id quod mazim. Lorem ipsum dolor sit
          amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
        <a href="#" class="top__btn -triangle">Read More</a>
      </div>

      <div class="col-lg-3 col-sm-12">
        <h1 class="top__title">
          Travel Specialists
        </h1>
        <ul>
          <li>
            <a href="#" class="-triangle">First Class Flights</a>
          </li>
          <li>
            <a href="#" class="-triangle">Accessible Travel</a>
          </li>
          <li>
            <a href="#" class="-triangle">Amazing Cruises</a>
          </li>
        </ul>
        <div class="top__social">
          <div class="top__social__item">
            <a href="#" class="--fb"></a>
          </div>
          <div class="top__social__item ">
            <a href="#" class="--gg"></a>
          </div>
          <div class="top__social__item">
            <a href="#" class="--in"></a>
          </div>
          <div class="top__social__item">
            <a href="#" class="--aa"></a>
          </div>
          <div class="top__social__item">
            <a href="#" class="--tw"></a>
          </div>
          <div class="top__social__item">
            <a href="#" class="--ytb"></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-12">
        <h1 class="top__title">
          Our Twitter
        </h1>
        <div class="top__twiter">
          <div class="top__twiter__item twiter-1">
            <a href="#">@travel</a>
            <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit</span>
            <div class="time">5 minutes ago</div>
          </div>
          <div class="top__twiter__item twiter-2">
            <a href="#">@leo</a>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos commodi totam cumque dolor.</span>
            <div class="time">2 days ago</div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-12">
        <h1 class="top__title">
          Newsletter
        </h1>
        <div class="top__lable">
          Inspiration, ideas, news and your feedback.
        </div>
        <div class="input">
          <input type="email" placeholder="Email Address" class="top__input -triangle">
          <a href="#" class="top__btn-submit">SUBMIT</a>
        </div>
        <h1 class="top__phone">1-917-338-6831</h1>
        <div class="support">
          <a href="#" class="top__support">support@templates-support.com</a>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="bottom">

  <div class="container bottom__content">

    <div class="bottom__left">
      <ul>
        <li>
          Copyright © 2017
        </li>
        <li>
          <a href="#" class="bold">MECOVACHE</a>
        </li>
        <li>
          <a href="#"> Privacy Policy</a>
        </li>
        <li>
          <a href="#"> About Us</a>
        </li>
        <li>
          <a href="#">FAQ</a>
        </li>
        <li>
          <a href="#">Contact Support</a>
        </li>
      </ul>
    </div>

    <div class="bottom__right">
      <span>Designed by <a href="#">MECOVACHE</a></span>
    </div>

  </div>
</div>
