<div class="top">
  <div class="container">
    <div class="row">

      <div class="col-lg-3">
        <div class="top__logo">
          <a>
            <img [src]="logo" alt="">
          </a>
        </div>
        <p class="pt-4">{{phuongbinh.infor}}</p>
        <a class="top__btn -triangle">Xem thêm</a>
      </div>

      <div class="col-lg-3 col-sm-12">
        <h1 class="top__title">
          Chuyên gia du lịch
        </h1>
        <ul>
          <li>
            <a class="-triangle">Vé máy bay hạng nhất</a>
          </li>
          <li>
            <a class="-triangle">Tour hiện có</a>
          </li>
        </ul>
        <div class="top__social">
          <div class="top__social__item">
            <a class="--fb"></a>
          </div>
          <div class="top__social__item ">
            <a class="--gg"></a>
          </div>
          <div class="top__social__item">
            <a class="--in"></a>
          </div>
          <div class="top__social__item">
            <a class="--aa"></a>
          </div>
          <div class="top__social__item">
            <a class="--tw"></a>
          </div>
          <div class="top__social__item">
            <a class="--ytb"></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-12">
        <h1 class="top__title">
          Đánh giá
        </h1>
        <div class="top__twiter">
          <div class="top__twiter__item twiter-1">
            <a>@travel</a>
            <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit</span>
            <div class="time">5 minutes ago</div>
          </div>
          <div class="top__twiter__item twiter-2">
            <a>@leo</a>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos commodi totam cumque dolor.</span>
            <div class="time">2 days ago</div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-12">
        <h1 class="top__title">
          Bảng tin
        </h1>
        <div class="top__lable">
          Cảm hứng, ý tưởng, tin tức và phản hồi của bạn.
        </div>
        <div class="input">
          <input type="email" placeholder="Email Address" class="top__input -triangle">
          <a class="top__btn-submit">SUBMIT</a>
        </div>
        <h1 class="top__phone">{{phuongbinh.phone}}</h1>
        <div class="support">
          <a class="top__support">support@templates-support.com</a>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="bottom">

  <div class="container bottom__content">

    <div class="bottom__left">
      <ul>
        <li>
          Copyright © 2019
        </li>
        <li>
          <a class="bold">GoCodee</a>
        </li>
        <li>
          <a> Privacy Policy</a>
        </li>
        <li>
          <a> About Us</a>
        </li>
        <li>
          <a>FAQ</a>
        </li>
        <li>
          <a>Contact Support</a>
        </li>
      </ul>
    </div>

    <div class="bottom__right">
      <span>Developed by <a>GoCodee</a></span>
    </div>

  </div>
</div>
