<!-- START nav -->
<nav class="navbar navbar-expand-lg navbar-dark pbt_navbar bg-dark pbt-navbar-light pt-0 pb-0" id="pbt-navbar"
  [class.scrolled]="scrolled" [class.awake]="awake">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']" style="cursor: pointer"><img class="logo" [src]="logo" width="250px"></a>
    <button class="navbar-toggler" [class.collapsed]="collapsed" type="button" data-toggle="collapse"
      data-target="#pbt-nav" aria-controls="pbt-nav" aria-expanded="false" aria-label="Toggle navigation"
      (click)="toggleCollapsed()">
      <!-- <i class="fa fa-bars"></i> -->
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <!-- <span class="oi oi-menu"></span> Menu -->
    </button>

    <div class="navbar-collapse" id="pbt-nav" [class.collapse]="collapsed">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a [routerLink]="['/']" class="nav-link">Trang Chủ</a></li>
        <!-- <li class="nav-item"><a class="nav-link">About us</a></li> -->
        <li class="nav-item"><a [routerLink]="['/booking']" class="nav-link">Tham khảo</a></li>
        <li class="nav-item dropdown c-pointer"ngbDropdown>
          <a class="nav-link dropdown-toggle" ngbDropdownToggle>Gói du lịch
          </a>
          <div class="dropdown-menu p-3" ngbDropdownMenu>
            <span id="normalItem" class="dropdown-item pb-2" [routerLink]="['/place']">Trong nước</span>
            <span id="normalItem" class="dropdown-item pb-2 pt-2" [routerLink]="['/place/1']">Demo Detail</span>
            <span id="normalItem" class="dropdown-item pb-2 pt-2">Vụ trụ</span>
            <span id="lastItem" class="dropdown-item pt-2">Đại dương</span>
          </div>
        </li>
        <!-- <li class="nav-item"><a class="nav-link">Blog</a></li> -->
        <li class="nav-item"><a [routerLink]="['/contact']" class="nav-link">Liên Lạc</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->

<div [class.display]="display" (click)="scrollTop()" id="backToTopBtn" title="Go to top">
<span>
  <i class="far fa-arrow-up"></i></span>
</div>