<div class="travel-pack text-center">
  <i class="far fa-tree-palm"></i>
  TOUR DU LỊCH
</div>

<div class="container mb-5">

  <div class="search-container row justify-content-around">
    <div class="search-bar col-10 col-md-8  m-0 p-0">
      <div class="wrapper position-relative">
        <!-- <input (keyup)="searchTerms$.next($event.target.value)" -->
        <input (keyup)="updateTerm($event.target.value)" type="text" placeholder="Tìm kiếm..."
          class="search-bar w-100 p-2">
        <i class="far fa-search"></i>
      </div>
    </div>
  </div>
  <div class="container not-found-container">
      <div class="row justify-content-center">
        <h2 class="col-8  text-center">
          Không Tìm thấy sản phẩm nào
        </h2>
      </div>
    </div>

  <div class="row travel-pack-content">

    <div class="col-lg-9 col-md-9" *ngIf="packs.length">

      <div class="option">
        <div class="row align-items-center">
          <div class="col-6">
            <select class="option-sort" (change)="sortByPrice(select.value)" #select>
              <option value="asc">
                Giá tăng dần
              </option>
              <option value="desc">
                Giá giảm dần
              </option>
            </select>
          </div>
          <div class="col-6">
            <div class="option-view text-right">
              <button class="btn btn-view btn-view-list" (click)=displayViewList()>
                <i class="fa fa-list"></i>
              </button>
              <button class="btn btn-view btn-grid-list" (click)="displayViewGrid()">
                <i class="fa fa-th"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="list-view-pack" *ngIf="viewType === 'list'">
        <div class="pack mt-4" *ngFor="let pack of packs">
          <div class="row">
            <div class="col-lg-5">
              <div class="pack-image">
                <a [routerLink]="['/place/', pack.id]">
                  <img [src]="pack.image" alt="">
                </a>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="pack-info">
                <h1 class="pack-name mb-3 pt-3">
                  <a [routerLink]="['/place/', pack.id]">
                    {{ pack.title }}
                  </a>
                </h1>
                <p style="-webkit-box-orient: vertical" class="pack-description pr-4">
                  {{ pack.description }}
                </p>
                <div class="pack-price">
                  <span class="mr-2">Giá:</span> {{ pack.price | number: '1.0-0' }} VND
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-view-pack" *ngIf="viewType === 'grid'">
        <div class="row">
          <div class="col-lg-6 col-md-12 mt-4" *ngFor="let pack of packs">
            <div class="pack">
              <div class="pack-image">
                <a [routerLink]="['/place/', pack.id]">
                  <img [src]="pack.image" alt="">
                </a>
              </div>
              <div class="pack-info pt-2">
                <h1 class="pack-name">
                  <a [routerLink]="['/place/', pack.id]">
                    {{ pack.title }}
                  </a>
                </h1>
                <div class="pack-price">
                  <span class="mr-2">Giá:</span>{{ pack.price | number: '1.0-0' }} VNĐ
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-lg-3 col-sm-3">
      <div class="list-tour pl-3">
        <h4>Danh sách tour</h4>
        <ul class="category-list font-weight-bold">
          <li class="list-item" *ngFor="let list of tours">
            <a [routerLink]="['/place/', list.id]" class="item">{{list.name}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
