@import "../../../assets/scss//function.scss";

.travel-pack {
  background-color: #395c9c;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
  padding: 50px 0;
  border-radius: 5px;
}

.search-container {
  margin-top: 70px;
  input.search-bar {
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    transition: outline-color 1.2s ease-in 1.2s;
    &:focus {
      border-color: transparent;
      outline: 2px solid palette(thisBlue, "lighter");
    }
  }

  i.fa-search {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
  }
}

.travel-pack-content {
  margin-top: 50px;

  .option {
    background-color: #eeeeee;
    padding: 4px;
    align-items: center;
    .option-sort {
      padding: 7px 5px 3px 10px;
      border: 0;
      border-radius: 0;
      height: 31px;
      cursor: pointer;
      color: rgb(105, 104, 104);
    }
  }

  .list-view-pack {
    .pack {
      box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
      .pack-image {
        overflow: hidden;
        img {
          width: 100%;
          transform: scale(1.3, 1.3);
          transition: all 0.7s;
        }
        &:hover {
          img {
            transform: unset;
          }
        }
      }
      .pack-info {
        .pack-name {
          font-size: 1.5rem;
          a {
            font-size: 1.5rem;
            font-weight: bold;
            color: #395c9c;
            transition: all 0.6s;
            &:hover {
              color: #819dcf;
            }
          }
        }
        .pack-description {
          position: relative;
          height: 120px;
          overflow: hidden;
          text-align: justify;
          // padding-right: 1em;
          // &::after {
          //   content: "....";
          //   position: absolute;
          //   right: 0;
          //   bottom: 2%;
          // }
        }
        .pack-price {
          > span {
            font-weight: 700;
          }
        }
      }
    }
  }

  .grid-view-pack {
    .pack {
      box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
      .pack-image {
        overflow: hidden;
        img {
          width: 100%;
          transform: scale(1.3, 1.3);
          transition: all 0.7s;
        }
        &:hover {
          img {
            transform: unset;
          }
        }
      }
      .pack-info {
        .pack-name {
          font-size: 1.5rem;
          a {
            font-size: 1.5rem;
            font-weight: bold;
            color: #395c9c;
            transition: all 0.6s;
            &:hover {
              color: #819dcf;
            }
          }
        }
        .pack-price {
          > span {
            font-weight: 700;
          }
        }
      }
    }
  }

  .list-tour {
    .category-list {
      .list-item {
        padding-bottom: 20px;

        .item {
          color: rgba(57, 92, 156, 1) !important;
          transition: all 0.3s;

          &:hover {
            color: rgba(129, 157, 207, 1) !important;
          }
        }
      }
    }
  }
}
