<div class="container">
  <div class="travel-pack text-center">
   TOUR DU LỊCH
  </div>

  <div class="row travel-pack-content">
    <div class="col-lg-9 col-sm-9">
      <div *ngIf="packs">
        <div class="row travel-pack-content-wrap mt-4"
        *ngFor="let pack of packs | paginate: { itemsPerPage: 7, currentPage: page }">
        <div class="col-lg-2 col-md-3 col-sm-12 pr-0 travel-pack-content-left">
          <div class="travel-pack-content-interactive text-center">
            <div class="travel-pack-day-post">
              Giá: {{ pack.price }}
            </div>
            <div class="travel-pack-interactive">
              <span class="mr-3">
                <i class="fas fa-heart travel-pack-icon"></i>
                <!-- {{ pack.like }} -->
              </span>
              <span>
                <i class="fas fa-comment travel-pack-icon"></i>
                <!-- {{ pack.comment }} -->
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-12 px-0 travel-pack-content-right">
          <div class="travel-pack-image">
            <img [src]="pack.image" alt="">
          </div>
          <h1 class="travel-pack-title">
            <a [routerLink]="['/place/' + pack.id]">
              {{ pack.title }}
            </a>
          </h1>
          <div class="travel-pack-describe">
            {{ pack.description }}
          </div>
          <a [routerLink]="['/place/' + pack.id]" class="btn--detail">XEM CHI TIẾT</a>
        </div>

      </div>
      </div>

      <div class="row m-4">
        <div class="col-lg-12">
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-3 mt-4">
      <div class="list-tour pl-3">
        <h4>Danh sách tour</h4>
        <ul class="category-list">
          <li class="list-item" *ngFor="let list of tours">
            <a [routerLink]="['/place/', list.id]" class="item">{{list.name}}
            </a>
          </li>
        </ul>
      </div>
  </div>
</div>
