.travel-pack {
  background-color: #395c9c;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
  padding: 50px 0;
  border-radius: 5px;
}

.travel-pack-content {
  margin-top: 50px;
  .travel-pack-content-wrap {
    .travel-pack-content-left {
      .travel-pack-content-interactive {
        background-color: #819dcf;
        color: #fff;
        .travel-pack-day-post {
          padding: 18px 20px;
        }
        .travel-pack-interactive {
          background-color: #395c9c;
          .travel-pack-icon {
            transition: all 0.3s;
            &:hover {
              color: #819dcf;
            }
          }
        }
      }
    }

    .travel-pack-content-right {
      .travel-pack-image {
        img {
          width: 100%;
        }
      }
      .travel-pack-title {
        font-size: 2rem;
        padding: 12px 0;
        a {
          color: #395c9c;
          transition: all 0.3s;
          &:hover {
            color: #819dcf;
          }
        }
      }

      .travel-pack-describe {
        font-size: 1rem;
        color: #474747;
      }

      .btn--detail {
        display: inline-block;
        color: #395c9c;
        font-size: 1rem;
        font-weight: 500;
        margin: 12px 0;
        transition: all 0.3s;
        &:hover {
          color: #819dcf;
        }
      }
    }
  }

  .list-tour {
    .category-list {
      .list-item {
        padding-bottom: 10px;
        .item {
          color: rgba(57, 92, 156, 1) !important ;
          transition: all 0.3s;
          &:hover {
            color: rgba(129, 157, 207, 1) !important;
          }
        }
      }
    }
  }
}
