@import "../../../assets/scss/breakpoints";

.selectbox {
  position: relative;
}

.select {
  border: 1px solid #c2c2c2;
  color: rgb(39, 37, 37);
  background: white;
  font-size: 0.8rem;
  line-height: 20px;
  padding: 9px 15px 9px 15px;
  position: relative;
  cursor: pointer;
}

.fa-chevron-down {
  pointer-events: none;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  @include min-and-max(992, 1200) {
    right: 8px;
  }
}

ul.list {
  background: #819dcf;
  border-left: 1px solid #c2c2c2;
  border-right: 1px solid #c2c2c2;
  position: absolute;
  // position: relative;
  width: 100%;
  // width: 100%;
  display: none;
  height: 250px;
  overflow: auto;
  z-index: 10;
}

li.item {
  color: white;
  padding: 5px 15px;
  border-bottom: 1px solid #768aaf;
  cursor: pointer;
}

li.item:hover {
  color: darken(#768aaf, 5%);
  background: white;
}

.list::-webkit-scrollbar {
  width: 8px;
  background-color: #7386a9;
}

.list::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: #466294;
}

.list::-webkit-scrollbar-track {
  border-radius: 1px;
  background-color: #7386a9;
}
