* {
    padding: 0;
    margin: 0;
}

main {
    // width: calc(100vw - 240ppx);
    background: white;
}

.row-container {
    height: 100vh;
}

.sidebar {
    flex: 0 240px;
    max-width: 240px;
}

.main-admin {
    flex: 1;
    max-width: 100%;
}