<div class="control">
  <div class="control-left">
    <img [src]="logo" class="control-logo" alt="Logo">
  </div>
  <div class="control-right">
    <div *ngIf="checkExistName" data-toggle="modal" data-target="#exampleModalCenter" (click)="save()" class="create "><i
        class="p-icon fal fa-save"></i> Lưu</div>
    <a href="/admin/add-tour" class="reset"><i class="p-icon fal fa-sync"></i> Làm Mới</a>
  </div>
</div>


<div class="container pt-3 main">
  <div class="main-flex">
    <div class="left">
      <div class="group-wrapper">
        <div *ngIf="checkName()" class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Tên đã tồn tại!</strong> Vui lòng chọn tên khác.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <label class="label">Tên Tour:</label>
        <input (change)="checkName()" (keyup)="checkNameSpace()" class="input" type="text" name="name" [(ngModel)]="name" placeholder="Tên Tour">
      </div>
      <div class="group-wrapper">
        <label class="label">Giới Thiệu:</label>
        <textarea class="textarea clear-mt" name="describe" [(ngModel)]="describe"
          placeholder="Giới Thiệu Về Tour"></textarea>
      </div>
      <div class="group-wrapper">
        <label class="label">Phương Tiện:</label>
        <input class="input" type="text" name="transport" [(ngModel)]="vehicle" placeholder="Phương Tiện">
      </div>
      <div class="group-wrapper">
        <label class="label">Ảnh Đại Diện:</label>
        <div class="box-image min-height-100">
          <div *ngIf="checkExistNameUploadThumbnail" class="alert-m alert alert-danger alert-dismissible fade show"
            role="alert">
            <strong>Chưa nhập tên Tour!</strong> Vui lòng nhập tên trước khi upload.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <app-upload-image-thumb (checkNameUpload)="checkNameUploadThumbnail($event)"
            [dataImagesCheck]="checkEditUpload" [valueOld]="valueOld" [nameTour]="changeAlias(name)">
          </app-upload-image-thumb>
        </div>
      </div>
      <div class="group-wrapper">
        <label class="label">Thời Gian:</label>
        <div class="row">
          <div class="col-6">
            <app-ngx-select (data)="onData($event)" [valueOption]="valueOld" [dataList]="listDayTime"></app-ngx-select>
          </div>
          <div class="col-6">
            <app-ngx-select (data)="onDataNight($event)" [valueOption]="valueOldNight" [dataList]="listNight">
            </app-ngx-select>
          </div>
        </div>
      </div>
      <div class="day" *ngFor="let item of valueDayTime; let index = index">
        <div class="group-wrapper">
          <label class="label">Ngày {{item.id}}:</label>
          <input class="input" type="text" name="ngay{{index + 1}}" [(ngModel)]="item.name"
            placeholder="Tên Địa Điểm Thăm Quan">
          <div class="day-grid">

            <div class="day-flex" *ngFor="let listDay of listDays">
              <div class="day-line"></div>
              <div class="flex-line-hori">
                <div class="line-horizontal"></div>
              </div>
              <div class="content-text">
                <app-ngx-editor (dataOutput)="changeTextSchedule($event, index, listDay.id)"
                  [data]="item.time[listDay.id]" [minHeight]="minHeightTextSchedule"
                  [placeholderInput]="listDay.placeholder">
                </app-ngx-editor>
              </div>
            </div>
            <div class="last-daytime">
              <div class="day-line"></div>
              <div class="last-daytime-content"></div>
            </div>
          </div>
          <div class="box-image">
            <div *ngIf="checkExistNameUpload" class="alert-m alert alert-danger alert-dismissible fade show"
              role="alert">
              <strong>Chưa nhập tên Tour!</strong> Vui lòng nhập tên trước khi upload.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <app-upload-image (checkNameUpload)="checkNameUpload($event)" [dataImagesCheck]="checkEditUpload"
              [valueOld]="valueOld" [nameTour]="changeAlias(name)" [value]="item.id" class="row mx-0">
            </app-upload-image>
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="group-wrapper">
        <label class="label">Giá Trọn Gói:</label>
        <input class="input" type="text" name="price" [(ngModel)]="price" placeholder="Giá Trọn Gói">
      </div>
      <div class="group-wrapper">
        <label class="label">Số Người:</label>
        <input class="input" type="text" name="people" [(ngModel)]="people" placeholder="Số Người Trong Một Đoàn">
      </div>
      <div class="title">- Dịch Vụ Của Tour -</div>

      <div *ngFor="let listService of listServices; let indexS = index" class="group-wrapper">
        <div class="service-title">
          <div class="service-icon"><i class="fal {{listService.icon}}"></i></div>
          <div class="service-name">{{listService.name}}</div>
        </div>
        <div *ngFor="let itemService of listService.listS; let last = last; let index = index" class="list-service">
          <div class="line-vertical-service"></div>
          <div class="line-horizontal-service">
            <div class="line-horizontal"></div>
          </div>
          <div class="input-service">
            <app-ngx-editor (dataOutput)="changeTextServices($event, indexS, index)" [data]="listService.dataArr[index]"
              [minHeight]="minHeightTextService" [placeholderInput]="placeholderService">
            </app-ngx-editor>
          </div>
          <div class="delete-service">
            <div (click)="deleteListService(index, listService.listS, indexS, listService.dataArr)"
              class="delete-service-icon"><i class="fal fa-minus"></i></div>
          </div>
        </div>
        <div class="list-service">
          <div class="line-space"></div>
        </div>
        <div class="list-service">
          <div class="service-add">
            <div (click)="addListService(listService.listS, indexS, listService.dataArr)" class="icon-add-service"><i
                class="fal fa-plus"></i></div>
          </div>
        </div>
      </div>

      <div class="title">- Dịch Vụ Trả Phí Riêng -</div>
      <div *ngFor="let listService of listPay; let indexS = index" class="group-wrapper">
        <div [ngClass]="{'clear-line-pay': first}"
          *ngFor="let itemService of listService.listS; let first = first; let index = index" class="list-service">
          <div class="line-vertical-service"></div>
          <div class="line-horizontal-service">
            <div class="line-horizontal"></div>
          </div>
          <div class="input-service">
            <app-ngx-editor (dataOutput)="changeTextPay($event, indexS, index)" [data]="listService.dataArr[index]"
              [minHeight]="minHeightTextService" [placeholderInput]="placeholderService">
            </app-ngx-editor>
          </div>
          <div class="delete-service">
            <div (click)="deleteListServiceL(index, listService.listS, 1, listService.dataArr)"
              class="delete-service-icon"><i class="fal fa-minus"></i></div>
          </div>
        </div>
        <div class="list-service">
          <div class="line-space"></div>
        </div>
        <div class="list-service">
          <div class="service-add">
            <div (click)="addListServiceL(listService.listS, 1, listService.dataArr)" class="icon-add-service"><i
                class="fal fa-plus"></i></div>
          </div>
        </div>
      </div>

      <div *ngFor="let listService of listChild; let indexS = index" class="group-wrapper">
        <div class="service-title">
          <div class="service-icon"><i class="fal {{listService.icon}}"></i></div>
          <div class="service-name">{{listService.name}}</div>
        </div>
        <div *ngFor="let itemService of listService.listS; let last = last; let index = index" class="list-service">
          <div class="line-vertical-service"></div>
          <div class="line-horizontal-service">
            <div class="line-horizontal"></div>
          </div>
          <div class="input-service">
            <app-ngx-editor (dataOutput)="changeTextChild($event, indexS, index)" [data]="listService.dataArr[index]"
              [minHeight]="minHeightTextService" [placeholderInput]="placeholderService">
            </app-ngx-editor>
          </div>
          <div class="delete-service">
            <div (click)="deleteListServiceL(index, listService.listS, 0, listService.dataArr)"
              class="delete-service-icon"><i class="fal fa-minus"></i></div>
          </div>
        </div>
        <div class="list-service">
          <div class="line-space"></div>
        </div>
        <div class="list-service">
          <div class="service-add">
            <div (click)="addListServiceL(listService.listS, 0, listService.dataArr)" class="icon-add-service"><i
                class="fal fa-plus"></i></div>
          </div>
        </div>
      </div>
      <div class="group-wrapper">
        <label class="label">Lưu ý:</label>
        <app-ngx-editor (dataOutput)="changeTextNote($event)" [data]="note" [minHeight]="minHeightTextSchedule"
          [placeholderInput]="'Các Lưu Ý Khác Về Tour'">
        </app-ngx-editor>
        <!-- <textarea class="textarea clear-mt" name="note" [(ngModel)]="note"
          placeholder="Các Lưu Ý Khác Về Tour"></textarea> -->
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Đăng Bài Thành Công</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div [routerLink]="['../../place/', namePost]" data-dismiss="modal"
            class="select-language col-6 d-flex align-items-center"><i class="far fa-eye"></i>Xem Bài Đăng</div>
          <div [routerLink]="['../list-tour']" data-dismiss="modal"
            class="select-language col-6 d-flex align-items-center"><i class="far fa-tools"></i>Menu Quản Lý</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn scroll button-scheme btn-home" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>
