<!-- <div class="box-editor">
  <div [ngStyle]="{'display': checkOpenTool ? 'block':'none'}" class="list-tool">
    <i onmousedown="event.preventDefault()" (click)="exec('undo')" class="tools tool-undo far fa-undo"></i>
    <i onmousedown="event.preventDefault()" (click)="exec('redo')" class="tools tool-redo far fa-redo"></i>
    <i onmousedown="event.preventDefault()" (click)="exec('insertUnorderedList')"
      class="tools tool-right far fa-list-ul"></i>
    <i onmousedown="event.preventDefault()" (colorPickerChange)="changeColor(color)" [cpOutputFormat]='hex'
      [(colorPicker)]="color" cpPosition="left" class="tools tool-color far fa-font"></i>
    <i onmousedown="event.preventDefault()" (click)="exec('underline')" class="tools tool-u far fa-underline"></i>
    <i onmousedown="event.preventDefault()" (click)="exec('italic')" class="tools tool-i far fa-italic"></i>
    <i onmousedown="event.preventDefault()" (click)="exec('bold')" class="tools tool-b far fa-bold"></i>
  </div>
  <i onmousedown="event.preventDefault()" (click)="openTool()" class="tool fal fa-code"></i>
  <div #myDiv (mouseup)="checkSelectText()" id="input" class="editor" contenteditable='true'></div>
</div> -->

<app-ngx-editor (dataOutput)="onData($event)" [data]="html[0]"></app-ngx-editor>
<div class="p-4">{{html}}</div>

<button (click)="get()">GET HOME</button>
<!-- <div class="p-4">{{html}}</div>
<div [innerHTML]="html" class="p-4"></div> -->


<!-- <input [(colorPicker)]="color" [style.background]="color"/> -->
