@import "../../../assets/scss/breakpoints";

$colorBlueBase: #395c9c;

$palettes: (
  thisBlue: (
    base: $colorBlueBase,
    light: lighten($colorBlueBase, 5%),
    lighter: lighten($colorBlueBase, 8%),
    dark: darken($colorBlueBase, 5%),
    darker: darken($colorBlueBase, 10%)
  )
);

@function palette($palette, $tone: "base") {
  @return map-get(map-get($palettes, $palette), $tone);
}

// tab list
.tab-list {
  margin: 0;
  width: 100%;

  @include md {
    height: fit-content;
    width: fit-content;
  }

  .tab-navs {
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-transform: none;
    border: none;
    border-radius: 0;
    background-color: $colorBlueBase;
  }

  .tab {
    display: block;
    position: relative;
    white-space: nowrap;
    margin: 0;
    border: none;
    background: none;
    font-weight: 700;
    color: #ffffff;
    padding: 13px 30px 14px 60px;
    background: #00a99d;
    cursor: pointer;

    // siblings
    & + .tab {
      margin-left: 0px;
      margin-bottom: 1px;

      @include md {
        margin-left: 1px;
        margin-bottom: 0px;
      }
    }

    &.active {
      color: palette(thisBlue);
      background-color: #fafafa !important;
    }

    &.flights {
      background-color: palette(thisBlue, "dark");
    }

    &.hotels {
      background-color: palette(thisBlue);
    }

    &.cars {
      background-color: palette(thisBlue, "light");
    }

    &.cruises {
      background-color: palette(thisBlue, "lighter");
    }

    // icons
    .fas {
      position: absolute;
      left: 20px;
      top: 13px;
      font-size: 18px;
    }

    .fa-plane {
      transform: rotate(-45deg);
    }

    .fa-car {
      font-size: 20px;
    }
  }
}

// ~ tab list

// Content Container
.container-content {
  background-color: #ffffff;
  padding: 3rem 2rem 2rem 1.5rem;
  border-bottom: palette(thisBlue, "dark") solid 0.5rem;
  div.wrapper-content {
    .title {
      margin-bottom: 2rem;
    }
  }
}
// Content Container

/* Just for the Look  */
.typewrite > .wrap {
  position: relative;

  &:after {
    position: absolute;
    top: 0;
    bottom: 12px;
    right: -5px;
    width: 4px;
    content: "";
    background: #395c9c;
  }
}

// Contact button
.btn-contact {
  color: white;
  padding: 15px;
  border-radius: 5px;
  animation: twinkle 3s ease-in 1s infinite;

  &:hover {
    background: #103881;
    transition-duration: 0.4s;
  }
}

@keyframes twinkle {
  0% {
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
    background: #446ab1;
  }
  50% {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #557cc4;
  }
  100% {
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
    background: #5d8ce2;
  }
}
