<div class="parallax2">
  <div class="bg-parallax">
    <div class="h-100"></div>
  </div>
</div>

<div class="container">
  <div class="tour-content" *ngIf="tour">
    <div class="tour-name mb-4 mt-4 text-center">
      {{tour.name}}
    </div>
    <div class="tour-ticket">
      <div class="tour-ticket-title">
        <div class="title text-uppercase font-weight-bold">Giá tour trọn gói</div>
        <div class="content">
          <div class="line-dash"></div>
          <div class="text">
            <p class="my-0">Dành cho đoàn {{tour.people}} người</p>
            <p class="my-0" style="font-size: 2rem"><strong>{{tour.price | number: '1.0-0' }} VNĐ</strong></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-sm-9 col-12">
        <div class="tour-schedule">

          <div *ngIf="tour">
            <div class="tour-schedule-detail" *ngFor="let schedule of tour.schedule; index as i">
              <div id="carouselExampleIndicators{{i}}" class="carousel slide" data-ride="carousel">
                <img [src]="tour.images[i][0].link" class="d-block w-100" alt="..." class="slide-image">
                <a class="carousel-control-prev" href="#carouselExampleIndicators{{i}}" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators{{i}}" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>

                <div class="name">
                  <div class="day pr-2">Ngày {{i+1}}</div>{{schedule.name}}
                </div>

              </div>
              <div class="row">
                <div class="col-3 time-line" *ngIf="schedule.morning">
                  <div class="line line-orange"></div>
                  <div class="period period-orange">Sáng</div>
                </div>
                <div class="col-9 pl-0" *ngIf="schedule.morning">
                  <div class="content-text" [innerHTML]="schedule.morning"></div>
                </div>
                <div class="col-3 time-line" *ngIf="schedule.noon">
                  <div class="line line-green"></div>
                  <div class="period period-green">Trưa</div>
                </div>
                <div class="col-9 pl-0" *ngIf="schedule.noon">
                  <div class="content-text" [innerHTML]="schedule.noon"></div>
                </div>
                <div class="col-3 time-line" *ngIf="schedule.afternoon">
                  <div class="line line-blue"></div>
                  <div class="period period-blue">Chiều</div>
                </div>
                <div class="col-9 pl-0" *ngIf="schedule.afternoon">
                  <div class="content-text" [innerHTML]="schedule.afternoon"></div>
                </div>
                <div class="col-3 time-line" *ngIf="schedule.night">
                  <div class="line line-purple"></div>
                  <div class="period period-purple">Tối</div>
                </div>
                <div class="col-9 pl-0" *ngIf="schedule.night">
                  <div class="content-text" [innerHTML]="schedule.night"></div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="tour-ticket-content mt-5">
          <div class="content">
            <div class="line-dash"></div>
            <div class="text">
              <p class="my-0">Dịch vụ</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 service-item">
              <div class="service-title">
                <div class="row">
                  <div class="col-2" style="padding-left: 12px">
                    <div class="icon-circle"></div>
                  </div>
                  <div class="col-10">
                    <div class="title-text">
                      Vận chuyển
                    </div>
                  </div>
                </div>
              </div>
              <div class="service-content">
                <div class="day-flex" *ngFor="let transport of tour.transport; let last = last"
                  [ngClass]="{'last-item': last}">
                  <div class="day-line"></div>
                  <div class="flex-line-hori">
                    <div class="line-horizontal"></div>
                  </div>
                  <div class="content-text">
                    <div class="text">
                      <p [innerHTML]="transport"></p>
                    </div>
                  </div>
                  <div *ngIf="last" class="cleal-line"></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 service-item">
              <div class="service-title">
                <div class="row">
                  <div class="col-2" style="padding-left: 12px">
                    <div class="icon-circle"></div>
                  </div>
                  <div class="col-10">
                    <div class="title-text">
                      Ăn uống
                    </div>
                  </div>
                </div>
              </div>
              <div class="service-content">
                <div class="day-flex" *ngFor="let eat of tour.eat; let last = last" [ngClass]="{'last-item': last}">
                  <div class="day-line"></div>
                  <div class="flex-line-hori">
                    <div class="line-horizontal"></div>
                  </div>
                  <div class="content-text">
                    <div class="text">
                      <p [innerHTML]="eat"></p>
                    </div>
                  </div>
                  <div *ngIf="last" class="cleal-line"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 service-item">
              <div class="service-title">
                <div class="row">
                  <div class="col-2" style="padding-left: 12px">
                    <div class="icon-circle"></div>
                  </div>
                  <div class="col-10">
                    <div class="title-text">
                      Bảo hiểm
                    </div>
                  </div>
                </div>
              </div>
              <div class="service-content">
                <div class="day-flex" *ngFor="let protect of tour.protect; let last = last"
                  [ngClass]="{'last-item': last}">
                  <div class="day-line"></div>
                  <div class="flex-line-hori">
                    <div class="line-horizontal"></div>
                  </div>
                  <div class="content-text">
                    <div class="text">
                      <p [innerHTML]="protect"></p>
                    </div>
                  </div>
                  <div *ngIf="last" class="cleal-line"></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 service-item">
              <div class="service-title">
                <div class="row">
                  <div class="col-2" style="padding-left: 12px">
                    <div class="icon-circle"></div>
                  </div>
                  <div class="col-10">
                    <div class="title-text">
                      Khách sạn
                    </div>
                  </div>
                </div>
              </div>
              <div class="service-content">
                <div class="day-flex" *ngFor="let hotel of tour.hotel; let last = last" [ngClass]="{'last-item': last}">
                  <div class="day-line"></div>
                  <div class="flex-line-hori">
                    <div class="line-horizontal"></div>
                  </div>
                  <div class="content-text">
                    <div class="text">
                      <p [innerHTML]="hotel"></p>
                    </div>
                  </div>
                  <div *ngIf="last" class="cleal-line"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 service-item">
              <div class="service-title">
                <div class="row">
                  <div class="col-2" style="padding-left: 12px">
                    <div class="icon-circle"></div>
                  </div>
                  <div class="col-10">
                    <div class="title-text">
                      Hướng dẫn viên
                    </div>
                  </div>
                </div>
              </div>
              <div class="service-content">
                <div class="day-flex" *ngFor="let guide of tour.guide; let last = last" [ngClass]="{'last-item': last}">
                  <div class="day-line"></div>
                  <div class="flex-line-hori">
                    <div class="line-horizontal"></div>
                  </div>
                  <div class="content-text">
                    <div class="text">
                      <p [innerHTML]="guide"></p>
                    </div>
                  </div>
                  <div *ngIf="last" class="cleal-line"></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 service-item">
              <div class="service-title">
                <div class="row">
                  <div class="col-2" style="padding-left: 12px">
                    <div class="icon-circle"></div>
                  </div>
                  <div class="col-10">
                    <div class="title-text">
                      Quà tặng
                    </div>
                  </div>
                </div>
              </div>
              <div class="service-content">
                <div class="day-flex" *ngFor="let gift of tour.gift; let last = last" [ngClass]="{'last-item': last}">
                  <div class="day-line"></div>
                  <div class="flex-line-hori">
                    <div class="line-horizontal"></div>
                  </div>
                  <div class="content-text">
                    <div class="text">
                      <p [innerHTML]="gift"></p>
                    </div>
                  </div>
                  <div *ngIf="last" class="cleal-line"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ticket-not-included">
          <div class="content">
            <div class="line-dash"></div>
            <div class="text">
              <p class="my-0">Không hổ trợ</p>
            </div>
          </div>
          <p>- Tắm nước ngọt - Ăn uống ngoài chương trình - Điện thoại - Giặt ủi - Các chi phí khác</p>
          <div class="service-item">
            <div class="service-title">
              <div class="row">
                <div class="col-2" style="padding-left: 12px">
                  <div class="icon-circle"></div>
                </div>
                <div class="col-10">
                  <div class="title-text">
                    Giá vé trẻ em
                  </div>
                </div>
              </div>
            </div>
            <div class="service-content">
              <div class="day-flex" *ngFor="let child of tour.child; let last = last" [ngClass]="{'last-item': last}">
                <div class="day-line"></div>
                <div class="flex-line-hori">
                  <div class="line-horizontal"></div>
                </div>
                <div class="content-text">
                  <div class="text">
                    <p [innerHTML]="child"></p>
                  </div>
                </div>
                <div *ngIf="last" class="cleal-line"></div>
              </div>
            </div>
          </div>
          <div class="notice">
            <label style="text-decoration: underline">Lưu ý: </label>
            <p style="display: inline; padding-left: 10px" [innerHTML]="tour.note"></p>
          </div>
        </div>
        <div class="button py-4" style="text-align:center">
          <a class="btn btn-primary" style="display:inline-block" [routerLink]="['/contact']">Liên hệ trực tiếp</a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-3 col-12">
        <div class="list-tour">
          <h4 class="mb-4">Danh sách tour</h4>
          <ul class="category-list font-weight-bold">
            <li class="list-item" *ngFor="let list of tours">
              <a [routerLink]="['/place/', list.id]" class="item">{{list.name}}
              </a>
            </li>
          </ul>
        </div>
        <div class="contact">
          <h4>Liên hệ</h4>
          <div class="phone">
            0909372319-0907591142
          </div>
        </div>
      </div>
    </div>
  </div>
</div>