.tour-header {
  background-color: #395c9c;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
  padding: 50px 0;
  border-radius: 5px;
}
.tour-content {
  .tour-name {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: rgba(57, 92, 156, 1);
    font-weight: bold;
  }
  .tour-schedule {
    .tour-schedule-detail {
      img.slide-image {
        height: 250px;
        object-fit: cover;
        width: 100%;
      }

      .day {
        background: rgba(236, 141, 84, 0);
        display: inline;
        position: relative;
        top: 0;
        color: rgb(218, 218, 84);
        font-weight: 500;
      }

      .name {
        background-image: linear-gradient(to right, rgb(12, 38, 85), rgb(78, 113, 177));
        display: block;
        padding: 5px 10px;
        position: relative;
        bottom: 0;
        color: rgba(255, 255, 255, 1);
        font-weight: 600;
        font-size: 1.3rem;
      }

      .line {
        width: 1px;
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      .period {
        text-align: center;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 10;
        color: rgba(255, 255, 255, 1);
      }

      .content-text {
        padding: 20px 0px;
        text-align: justify;
      }

      .period-blue {
        border: 2px solid rgba(0, 123, 255, 1) !important;
        background: rgba(0, 123, 255, 1) !important;
      }

      .period-green {
        border: 2px solid rgba(0, 153, 51, 1) !important;
        background: rgba(0, 153, 51, 1) !important;
      }

      .period-orange {
        border: 2px solid rgba(236, 141, 84, 1) !important;
        background: rgba(236, 141, 84, 1) !important;
      }

      .period-purple {
        border: 2px solid rgba(102, 0, 102, 1) !important;
        background: rgba(102, 0, 102, 1) !important;
      }

      .line-blue {
        background: rgba(0, 123, 255, 1);
      }

      .line-orange {
        background: rgba(236, 141, 84, 1);
      }

      .line-green {
        background: rgba(0, 153, 51, 1);
      }

      .line-purple {
        background: rgba(102, 0, 102, 1);
      }
    }
  }
  .tour-ticket {
    width: 100%;
    .tour-ticket-title {
      text-align: center;
      width: 100%;
      height: 100%;
      .title {
        font-size: 35px;
      }
    }
    .tour-ticket-content {
      position: relative;
      .ticket-content {
        padding-left: 60px;
        .ticket-content-detail {
          margin-bottom: 0;
        }
      }
      .ticket-title {
        font-size: 20px;
        font-weight: bold;
        color: rgba(255, 0, 0, 1);
      }
      .title {
        display: flex;
        justify-content: center;
        margin: 0 240px;
      }
      .icon {
        position: absolute;
        z-index: 10;
        width: 42px;
        height: 42px;
        background: rgba(57, 92, 156, 1);
        border-radius: 50%;
      }
      .service-title {
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
  .list-tour {
    .category-list {
      .list-item {
        padding-bottom: 20px;
        .item {
          color: rgba(57, 92, 156, 1) !important ;
          transition: all 0.3s;
          &:hover {
            color: rgba(129, 157, 207, 1) !important;
          }
        }
      }
    }
  }
}
.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .line-dash {
    position: absolute;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 1);
    top: 50%;
  }
  .text {
    z-index: 10;
    background: rgba(255, 255, 255, 1);
    padding: 10px;
  }
}

.parallax2 {
  .bg-parallax {
    width: 100%;
    height: 250px;
    left: 0;
    top: 0;
    position: relative;
    background-image: url("/assets/images/parallax2.jpg");
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: cover;
  }
}

.btn-live {
  color: #fff;
  font-weight: bold;
  background: rgba(57, 92, 156, 1);
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2) inset;

  &:hover {
    transition-duration: .4s;
    background: rgb(90, 144, 245);
  }
  
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(77, 128, 224, 0.5);
  }
}
