.tour-header {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 50px;
}
.tour-content {
  .tour-name {
    display: flex;
    justify-content: center;
    font-size: 32px;
    color: rgba(255, 153, 0, 1);
    font-weight: bold;
  }
  .tour-ticket {
    .tour-ticket-title {
      text-align: center;
      .unit {
        font-size: 28px;
        font-weight: bold;
        color: rgba(255, 0, 0, 1);
      }
      .ticket-content {
        font-size: 20px;
        font-weight: bold;
        color: rgba(0, 0, 255, 1);
      }
    }
    .tour-ticket-content {
      .ticket-content {
        padding-left: 60px;
        .ticket-content-detail {
          margin-bottom: 0;
        }
      }
      .ticket-title{
        font-size: 20px;
        font-weight: bold;
        color: rgba(255, 0, 0, 1);
      }
      .title {
        display: flex;
        justify-content: center;
        margin: 0 240px;
      }
    }
  }
  .tour-schedule {
    .tour-schedule-day {
      font-size: 20px;
      font-weight: bold;
      color: rgba(0, 0, 255, 1);
    }
    .tour-schedule-activate {
      .content {
        color: rgba(255, 204, 0, 1);
        padding-right: 10px;
      }
    }
  }
}


img.slide-image {
  height: 250px;
  object-fit: cover;
  width: 100%;
}

.day {
  background: rgb(236, 141, 84);
  display: inline;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.name {
  background: rgba(236, 141, 84, 0);
  display: inline;
  padding: 5px 10px;
  position: absolute;
  bottom: 0;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 1.3rem;
}

.period {
    text-align: center;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
    color: rgb(255, 255, 255);
}

.line{
    width: 1px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.content-text {
  padding: 20px 0px;
  text-align: justify;
}

.period-blue {
  border: 2px solid rgb(0, 123, 255) !important;
  background: rgb(0, 123, 255) !important;
}

.period-orange {
  border: 2px solid rgb(236, 141, 84) !important;
  background: rgb(236, 141, 84) !important;
}

.line-blue {
  background: rgb(0, 123, 255);
}

.line-orange {
  background: rgb(236, 141, 84);
}