<div class="row filter m-0">
  <div class="col-12 col-md-4 col-lg-2">
   <div class="group-wrapper">
      <label class="label">Bay từ:</label>
      <div class="fomarter"><app-ngx-select [dataList]="listCity"></app-ngx-select></div>
   </div>
  </div>
  <div class="col-12 col-md-4 col-lg-2">
    <div class="goup-wrapper">
      <label class="label">Đến:</label>
      <div class="fomarter"><app-ngx-select [dataList]="listCity"></app-ngx-select></div>
    </div>
  </div>
  <div class="col-12 col-md-4 col-lg-2">
      <label class="label">Từ ngày:</label>
    <div class="input-group data-picker-group formater">
        <input class="form-control formater" placeholder="yyyy-mm-dd" name="dpFrom" [(ngModel)]="dpFrom" ngbDatepicker
          #from="ngbDatepicker" (click)="from.toggle()">
        <i class="icon-custom far fa-calendar-day"></i>
    </div>
  </div>
  <div class="col-12 col-md-4 col-lg-2">
      <div class="group-wrapper">
        <label class="label">Đến:</label>
        <div class="input-group data-picker-group formater">
            <input class="form-control formater" placeholder="yyyy-mm-dd" name="dpTo" [(ngModel)]="dpTo" ngbDatepicker
              #to="ngbDatepicker" (click)="to.toggle()">
            <i class="icon-custom far fa-calendar-day"></i>
        </div>
      </div>
  </div>
  <div class="col-12 col-md-4 col-lg-1">
      <div class="group-wrapper">
          <label class="label">Người Lớn:</label>
          <app-ngx-select [dataList]="numberList"></app-ngx-select>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-1">
      <div class="group-wrapper">
        <label class="label">Trẻ em:</label>
        <app-ngx-select [dataList]="numberList"></app-ngx-select>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-2 align-self-end">
      <div class="group-wrapper">
        <button type="submit" class="btn btn-default btn-submit">Tìm kiếm</button>
      </div>
    </div>
</div>
