<div class="container main">
  <div class="list-tour">
    <div [ngClass]="{'backr-w': even, 'clear-border-bottom': last}" *ngFor="let dataTour of dataTours; let even = even; let last = last; let index = index" class="tour row mx-0">
      <div class="col-4">
        <img class="image" [src]="dataTour.images.thumbnail.link">
      </div>
      <div class="col-6">
        <div class="flex-center">
          <div class="box">
            <div class="name">{{dataTour.name}}</div>
            <div class="info">
              <div class="row">
                <div class="price col-6"><i class="fal fa-money-bill-alt"></i> {{dataTour.price}} VNĐ</div>
                <div class="people col-6"><i class="fal fa-users"></i> {{dataTour.people}} Người</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 flex-button">
        <div class="centenr-button">
          <div [routerLink]="[ '../edit-tour/', dataTour.id ]" class="button"><i class="fal fa-edit"></i> Sửa</div>
          <div (click)="getIdDeleteTour(dataTour.id)" data-toggle="modal" data-target="#exampleModalCenter" class="button"><i class="fal fa-trash-alt"></i> Xóa</div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Xác Nhận Xóa Tour</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div (click)="deleteTour(idDelete)" data-dismiss="modal"
            class="select-language col-12 d-flex align-items-center"><i class="fal fa-trash-alt trash-alt"></i>Xóa Ngay</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn scroll button-scheme btn-home" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>