.image {
    width: 100%;
    object-fit: cover;
    padding: 10px;
    height: 130px;
}

.tour {
    padding: 10px 0px;
    background: beige;
    border-bottom: 1px solid #c2c2c2;
}

.name {
    padding: 10px 0px;
    font-weight: 600;
}

.text {
    display: flex;
    align-items: center;
}

.flex-center {
    display: flex;
    align-items: center;
    height: 100%;
}

.box {
    width: 100%;
}

i.fal.fa-edit, i.fal.fa-trash-alt {
    margin-top: -2px;
    margin-right: 5px;
}

.button {
    padding: 10px;
    margin: 10px 0px;
    background: #7590b5;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100px;
    border-radius: 5px;
}

.button:hover {
    background: #3b4f6a;
}

.flex-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-tour {
    margin: 20px;
    border: 1px solid #c2c2c2;
}

.backr-w {
    background: white !important;
}

.clear-border-bottom {
    border-bottom: none !important;
}